<div style="text-align: center; height: 125px; line-height: 0px;">
        <a href="http://127.0.0.1:7777/articles/list">전체</a>
        <a href="http://127.0.0.1:7777/articles/language_study">어학</a>
        <a href="http://127.0.0.1:7777/articles/employment">취업</a>
        <a href="http://127.0.0.1:7777/articles/public_officer">고시/공무원</a>
        <a href="http://127.0.0.1:7777/articles/hobby">취미/교양</a>
        <a href="http://127.0.0.1:7777/articles/programming">프로그래밍</a>
        <a href="http://127.0.0.1:7777/articles/other">기타</a>
</div>