{% extends 'base.html' %}

{% block content %}

{% include 'articleapp/article_header.html' %}


    <div class="container text-center" style="text-align: center">

        <div class="my-5">
            <h1>{{ target_article.title }}</h1>

            <p>{{ target_article.created_at }}</p>
        </div>
        <hr>
        <div class="my-5">

            <div class="article_content">
                {{ target_article.content | safe }}
            </div>

            {% if target_article.writer == user %}
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                   class="btn btn-success rounded-pill px-5">
                    Update
                </a>
                <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
                   class="btn btn-danger rounded-pill px-5">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>

        <h3>댓글 목록 ({{ target_article.comments.all|length }})</h3>

    <ul>
    {% for comment in target_article.comments.all %}
    <li>
        {{ comment.content }} - {{ comment.create_at }}
        <a href="{% url 'commentapp:create'  comment.pk %}">Edit</a>
        <form action="{% url 'commentapp:delete' comment.pk %}" method = "POST">
            {% csrf_token %}
            <input type="submit" value="Delete!">
        </form>
    </li>
    {% empty %}
    <li>
        작성된 댓글이 없습니다 :(
    </li>
    {% endfor %}
</ul>
   {% include 'commentapp/list.html' %}



{% endblock %}