{% extends 'base.html' %}
{% block content %}

    <h2 style="text-align: center; margin-bottom: 3.5rem; ">스터디 게시판!</h2>
    <div class="container" style="padding-right: 30rem; text-align: center; align-items: center ">
    {% for topic in article_list %}
        <a href="{% url 'articleapp:detail' pk=topic.pk %}" style="width: 100%">
                        <div class="col-sm-12">
                             <div class="card border-secondary" style= "border-radius: 1.25rem; ">
                                 <div class="card-body" >
                                     <h4 class="card-title">제목 : {{ topic.title }}</h4>
                                     <h6 class="card-subtitle mb-2 text-muted">작성자 : {{ topic.writer }}  </h6>
                                     <h6 class="card-subtitle mb-2 text-muted">분야 : {{ topic.progress_method }}  </h6>
                                     <h6 class="card-subtitle mb-2 text-muted">작성일자 : {{ topic.created_at }}  </h6>
                                     <h6 class="card-subtitle mb-2 text-muted">지역 : {{ topic.region }}  </h6>
                                     <h6 class="card-subtitle mb-2 text-muted">조회수 : {{ topic.hits }}</h6>
                                 </div>
                             </div>
                         </div>
            </a>

    {% endfor %}
    </div>

    {% include 'freearticleapp/home.html' with article_free_list=article_free_list %}

{% endblock content %}
