{% extends  'base.html' %}
{% block content %}

{% include 'articleapp/article_header.html' %}

<div class="mb-4" style="text-align: right; position:fixed; bottom: 3rem; right: 3rem; z-index:1000">
    <a href="{% url 'articleapp:create' %}" class="btn btn-outline-dark rounded-circle">
        <span class="material-icons-outlined" style="font-size: 3rem">add</span>
    </a>
</div>

<form class="form-inline mb-4" action="{% url 'articleapp:search' %}" method="post" style="display: flex;">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{search_word}}" style="flex:1;">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<hr/>

<div class="my-4">
{% for topic in article_list %}
    <div class="col-sm-12 mt-3">
        <a href="{% url 'articleapp:detail' pk=topic.pk %}">
            <div class="card">
                <div class="card-body">
                    <div>
                        <span class="card-text">#{{ topic.progress_method }}</span>
                        <span class="card-text">#{{ topic.region }}</span>
                    </div>
                    <h4 class="card-title">{{ topic.title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">작성자: {{ topic.writer }}  </h6>
        <!--                    <h6 class="card-subtitle mb-2 text-muted">분야 : {{ topic.progress_method }}  </h6>-->
                    <h6 class="card-subtitle mb-2 text-muted">{{ topic.created_at }}  </h6>
        <!--                    <h6 class="card-subtitle mb-2 text-muted">지역 : {{ topic.region }}  </h6>-->
                    <h6 class="card-subtitle mb-2 text-muted">조회수: {{ topic.hits }}</h6>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}

