{% extends  'base.html' %}
{% block content %}

{% include 'articleapp/article_header.html' %}

<div class="mb-4" style="text-align: right">
    <a href="{% url 'articleapp:create' %}" class="btn btn-info" style="height: auto; bottom: auto"><b>글 작성</b></a>
</div>

<form class="form-inline" action="{% url 'articleapp:search' %}" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{search_word}}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="container">
    {% for topic in article_list %}
        {% if topic.progress_method == '프로그래밍' %}
             <a href="{% url 'articleapp:detail' pk=topic.pk %}" style="width: 100%">
                 <div class="col-sm-12">
                     <div class="card border-secondary">
                         <div class="card-body">
                             <h4 class="card-title">제목 : {{ topic.title }}</h4>
                             <h6 class="card-subtitle mb-2 text-muted">작성자 : {{ topic.writer }}  </h6>
                             <h6 class="card-subtitle mb-2 text-muted">분야 : {{ topic.progress_method }}  </h6>
                             <h6 class="card-subtitle mb-2 text-muted">작성일자 : {{ topic.created_at }}  </h6>
                             <h6 class="card-subtitle mb-2 text-muted">지역 : {{ topic.region }}  </h6>
                             <h6 class="card-subtitle mb-2 text-muted">조회수 : {{ topic.hits }}</h6>
                         </div>
                     </div>
                 </div>
             </a>
        {% endif %}
    {% endfor %}
 </div>

{% endblock %}

