{% extends 'base.html' %}


   {% block content %}

    <div class="container text-center" style="text-align: center">

        <div class="my-5">
            <h1>{{ target_article.title }}</h1>
            <img src="{{ target_article.image.url }}"
                 alt=""
                 class="article_image">

            <p>{{ target_article.created_at }}</p>
        </div>
        <hr>
        <div class="my-5">

            <div class="article_content">
                {{ target_article.content | safe }}
            </div>

            {% if target_article.writer == user %}
            <div>
                <a href="{% url 'freearticleapp:update' pk=target_article.pk %}"
                   class="btn btn-success rounded-pill px-5">
                    Update
                </a>
                <a href="{% url 'freearticleapp:delete' pk=target_article.pk %}"
                   class="btn btn-danger rounded-pill px-5">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    {% include 'commentapp/list.html' with target_article=target_article target_article_type='free' %}

{% endblock %}