{% extends  'base.html' %}
     {% block content %}

         <div class="container">
             {% include 'snippets/free_list_fragment.html' with article_list=article_free_list %}
         </div>

        <div class="mb-4" style="text-align: right">
            <a href="{% url 'freearticleapp:create' %}" class="btn btn-info" style="height: auto; bottom: auto"><b>글 작성</b></a>
        </div>

        <form class="form-inline my-2 my-lg-0" action="{% url 'freearticleapp:search' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_word" value="{{search_word}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

{% endblock %}

