{% load static %}

<link rel="stylesheet" href="{% static 'css/comment.css' %}">

{% include 'commentapp/create.html' with target_article=target_article %}

<div class="comments-container">
    {% for comment in target_article.comments.all %}

    {% if comment.is_parent %}
    {% include 'commentapp/comment.html' with comment=comment article=target_article %}
    {% endif %}

    {% endfor %}
</div>

<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/comment.js' %}"></script>
