<header>
    <div style="display: flex; justify-content: space-between; height: 50px; align-items:center">
        <a href="/">SGRA</a>
        {% if user.is_authenticated %}
            <a href="{% url 'accountsapp:logout' %}">{{ user.username }}(Logout)</a>
        {% else %}
            <a href="{% url 'accountsapp:login' %}?next={{ request.path }}">Login</a>
        {% endif %}
    </div>

    <div style="text-align: center; height: 48px; line-height: 48px;">
        <a href='#'>홈</a>
        <a href='http://127.0.0.1:7777/articles/list'>스터디</a>
        <a href='http://127.0.0.1:7777/freearticles/list'>자유게시판</a>
    </div>

</header>