{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="my-5">
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h5>스터디 게시판</h5>
            <a href="{% url 'articleapp:list' category='all' %}" style="bottom:0">더보기<i class="material-icons-outlined" style="vertical-align:bottom">navigate_next</i></a>
        </div>
        <div class="flex-container">
            {% include 'snippets/study_list_fragment.html' with article_list=article_list %}
        </div>
    </div>

    <div class="my-5">
        <div style="display: flex; justify-content: space-between;">
            <h5>자유 게시판</h5>
            <a href="{% url 'freearticleapp:list' %}" style="bottom:0">더보기<i class="material-icons-outlined" style="vertical-align:bottom">navigate_next</i></a>
        </div>
        <div class="flex-container">
            {% include 'snippets/free_list_fragment.html' with article_list=article_free_list %}
        </div>
    </div>
</div>
{% endblock content %}
