.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.article_item {
    width: 33%;
    min-width: 274px;
    margin: 0 .2rem .2rem 0;
}

@media screen and (max-width: 992px) {
    .article_item {
        width: 100%;
    }
}

.article_item + .article_item {
    margin-top: 0 !important;
}