blockquote {
    border-left: 2px solid;
    padding-left: 1rem;
}

.active {
    background-color: #717984 !important;
    color: white !important;
    border-color: white !important;
}

.active > a {
    color: white;
}

@media screen and (max-width: 768px) {
    .profile {
        flex-direction: column;
    }
    .profile .thumbnail {
        align-self: center;
        width:60%;
    }
}